@font-face {
  font-weight: 400;
  font-family: 'PT Sans Narrow';

  src: url('../fonts/PT_Sans-Narrow.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'PT Sans Narrow';

  src: url('../fonts/PT_Sans-Narrow-Bold.ttf') format('truetype');
}
