@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PT_Sans-Narrow.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PT_Sans-Narrow-Bold.ttf") format("truetype");
  font-weight: 700;
}
