doctype html
html(lang='ru')
  include ../layouts/head.pug
  body
    header.page-header
      .page-header__logo
        .page-header__logo-container
          a.page-header__logo-link(href='index.html')
            span.visually-hidden
              | Бородинский
            svg.page-header__logo-img(width='226' height='30')
              use(xlink:href='img/symbols.svg#logo')
      nav.main-nav
        .main-nav__container
          button.main-nav__toggle(type='button')
            | Открыть меню
          ul.main-nav__items
            li.main-nav__item
              a.main-nav__link(href='index.html')
                | Главная
            li.main-nav__item.main-nav__item--active
              a.main-nav__link
                | Наши работы
            li.main-nav__item
              a.main-nav__link(href='record.html')
                | Записаться
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
            li.main-nav__item
              a.main-nav__link(href='#')
                | HTML Academy
          ul.main-nav__user-items
            li.main-nav__user-item
              a.main-nav__user-login(href='#')
                | Войти
        include ../components/login.pug

    main
      section.examples
        .examples__container
          .examples__header
            h1.examples__title
              | Наши работы
            a.examples__to-main.btn.btn--ghost(href='index.html')
              | На главную
          .examples__items
            .example.example--big
              .example__photo
                img(src='img/photo-1--big.jpg' width='280' height='480' alt='Лжепётр Мчиславский')
                span.example__best
                  | Работа месяца
              .example__content
                blockquote.example__blockquote
                  cite.example__quote-author
                    | Лжепётр Мчиславский
                  p.example__review
                    | Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
                ul.example__services
                  li.example__service.example__service--clip
                    | Стрижка
                  li.example__service.example__service--beard
                    | Бритье
                  li.example__service.example__service--mustache
                    | Усы
            .example
              .example__photo
                img(src='img/photo-2.jpg' width='280' height='176' alt='Саша Мальцев')
              .example__content
                blockquote.example__blockquote
                  cite.example__quote-author
                    | Саша Мальцев
                p.example__review
                  | Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
                ul.example__services
                  li.example__service.example__service--clip
                    | Стрижка
            .example
              .example__photo
                img(src='img/photo-3.jpg' width='280' height='176' alt='Владимир Иваныч')
              .example__content
                blockquote.example__blockquote
                  cite.example__quote-author
                    | Владимир Иваныч
                  p.example__review
                    | К зимнему сезону — готов!
                ul.example__services
                  li.example__service.example__service--beard
                    | Борода
                  li.example__service.example__service--mustache
                    | Усы
            .example
              .example__photo
                img(src='img/photo-4.jpg' width='280' height='176' alt='Винстон Синий')
              .example__content
                blockquote.example__blockquote
                  cite.example__quote-author
                    | Винстон Синий
                  p.example__review
                    | Как только зарастаю и волосы начинают мешать видеть — бегом в Бородинский!
                ul.example__services
                  li.example__service.example__service--clip
                    | Стрижка
      include ../components/price-list.pug

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
