extends ../layouts/base.pug

block content
  section.work
    .work__wrapper
      .work__header
        h2.work__title
          | Наши работы
        a.work__to-main.btn.btn--ghost(href='index.html')
          | На главную
      .work__items
        .work__item.work__item--big
          .work__item-photo
            img(src='img/photo-1--big.jpg' width='280' height='480' alt='Лжепётр Мчиславский')
            span.work__item-best
              | Работа месяца
          .work__item-content
            h3.work__item-name
              | Лжепётр Мчиславский
            p.work__item-review
              | Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
            .work__item-services
              span.work__item-service.work__item-service--clip
                | Стрижка
              span.work__item-service.work__item-service--beard
                | Бритье
              span.work__item-service.work__item-service--mustache
                | Усы
        .work__item
          .work__item-photo
            img(src='img/photo-2.jpg' width='280' height='176' alt='Саша Мальцев')
          .work__item-content
            h3.work__item-name
              | Саша Мальцев
            p.work__item-review
              | Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
            .work__item-services
              span.work__item-service.work__item-service--clip
                | Стрижка
        .work__item
          .work__item-photo
            img(src='img/photo-3.jpg' width='280' height='176' alt='Владимир Иваныч')
          .work__item-content
            h3.work__item-name
              | Владимир Иваныч
            p.work__item-review
              | К зимнему сезону — готов!
            .work__item-services
              span.work__item-service.work__item-service--beard
                | Борода
              span.work__item-service.work__item-service--mustache
                | Усы
        .work__item
          .work__item-photo
            img(src='img/photo-4.jpg' width='280' height='176' alt='Винстон Синий')
          .work__item-content
            h3.work__item-name
              | Винстон Синий
            p.work__item-review
              | Как только зарастаю и волосы начинают мешать видеть — бегом в Бородинский!
            .work__item-services
              span.work__item-service.work__item-service--clip
                | Стрижка
  section.price
    .price__wrapper
      h2.price__title
        | Прейскурант
      .price__content
        table.price__items
          tr
            td.price__item-number
              | 1
            td
              | Классическая стрижка
            td
              | с мытьем головы
            td
              | 1 500 руб.
          tr
            td.price__item-number
              | 2
            td
              | Современный вариант
            td
              | с мытьем головы
            td
              | 1 500 руб.
          tr
            td.price__item-number
              | 3
            td
              | Индивидуальный подход
            td
              | с мытьем головы
            td
              | 2 000 руб.
          tr
            td.price__item-number
              | 4
            td
              | Бритьё бороды
            td
              | без мытья
            td
              | 500 руб.
          tr
            td
              | 5
            td
              | Бритьё головы
            td
              | с мытьем головы
            td
              | 1 000 руб.
        span.price__discount
          | С 10:00 до 14:00
          br
          |
          | скидка 20%
