doctype html
html(lang='ru')
  include ../layouts/head.pug
  body.index
    header.page-header
      .page-header__logo
        .page-header__logo-container
          a.page-header__logo-link
            span.visually-hidden
              | Бородинский
            svg.page-header__logo-img(width='226', height='30')
              use(xlink:href='img/symbols.svg#logo')
      nav.main-nav
        .main-nav__container
          button.main-nav__toggle(type='button')
            | Открыть меню
          ul.main-nav__items
            li.main-nav__item.main-nav__item--active
              a.main-nav__link
                | Главная
            li.main-nav__item
              a.main-nav__link(href='examples.html')
                | Наши работы
            li.main-nav__item
              a.main-nav__link(href='record.html')
                | Записаться
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
            li.main-nav__item
              a.main-nav__link(href='#')
                | HTML Academy
          ul.main-nav__user-items
            li.main-nav__user-item
              a.main-nav__user-login(href='#')
                | Войти
        include ../components/login.pug

    main
      h1.visually-hidden
        | Барбершоп "Бородинский" - истинно мужская классика

      include ../components/stats.pug
      include ../components/advantages.pug
      include ../components/news.pug
      include ../components/reviews.pug

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
