doctype html
html(lang='ru')
  include ../layouts/head.pug
  body
    header.page-header
      a.page-header__logo
        span.visually-hidden
          | Бородинский
        svg.page-header__logo-img(width='226', height='30')
          use(xlink:href='img/symbols.svg#logo')
      nav.main-nav
        button.main-nav__toggle(type='button')
          | Открыть меню
        .main-nav__wrapper
          ul.main-nav__items
            li.main-nav__item.main-nav__item--active
              a.main-nav__link
                | Главная
            li.main-nav__item
              a.main-nav__link(href='examples.html')
                | Наши работы
            li.main-nav__item
              a.main-nav__link(href='record.html')
                | Записаться
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
            li.main-nav__item
              a.main-nav__link(href='#')
                | HTML Academy
          ul.main-nav__user-items
            li.main-nav__user-item
              a.main-nav__user-login(href='#')
                | Войти
      section.page-header__login.login
        h2.login__title
          | Личный кабинет
        p.login__description
          | Введите свой логин и пароль, чтобы войти
        form.login__form(action='#' method='post')
          .login__form-group
            label.visually-hidden(for='login')
              | Логин
            input.login__field--login.field(id='login' type='text' placeholder='Логин')
          .login__form-group
            label.visually-hidden(for='password')
              | Пароль
            input.login__field--password.field(id='password' type='password' placeholder='Пароль')
          .login__row
            .checkbox
              input.checkbox__input(id='remember' type='checkbox')
              label.checkbox__label(for='remember')
                | Запомните меня
            a(href='#')
              | Я забыл пароль
          .login__row
            button.login__submit.btn(type='submit')
              | Войти
            button.login__close.btn(type='button')
              | Закрыть

    main
      h1.visually-hidden
        | Барбершоп "Бородинский" - истинно мужская классика

      include ../components/stats.pug
      include ../components/advantages.pug
      include ../components/news.pug
      include ../components/reviews.pug

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
