doctype html
html(lang='ru')
  include ../layouts/head.pug
  body.record
    header.page-header
      .page-header__logo
        .page-header__logo-container
          a.page-header__logo-link(href='index.html')
            span.visually-hidden
              | Бородинский
            svg.page-header__logo-img(width='226', height='30')
              use(xlink:href='img/symbols.svg#logo')
      nav.main-nav
        .main-nav__container
          button.main-nav__toggle(type='button')
            | Открыть меню
          ul.main-nav__items
            li.main-nav__item
              a.main-nav__link(href='index.html')
                | Главная
            li.main-nav__item
              a.main-nav__link(href='examples.html')
                | Наши работы
            li.main-nav__item.main-nav__item--active
              a.main-nav__link
                | Записаться
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
            li.main-nav__item
              a.main-nav__link(href='#')
                | HTML Academy
          ul.main-nav__user-items
            li.main-nav__user-item
              a.main-nav__user-login(href='#')
                | Войти
        include ../components/login.pug

    main.record__main
      section.record__container
        .record__main-header
          h1.record__title
            | Запись на стрижку
          //- a.btn(href='index.html')
          //-   | На главную
        form.record__form(action='#' method='post')
          .record__input-fields.input-fields
            .input-fields__row.input-fields__row--name
              .input-fields__group
                label.visually-hidden(for='second-name')
                  | Фамилия
                input.field(id='second-name' type='text' placeholder='Фамилия')
              .input-fields__group
                label.visually-hidden(for='first-name')
                  | Имя
                input.field(id='first-name' type='text' placeholder='Имя')
              .input-fields__group
                label.visually-hidden(for='middle-name')
                  | Отчество
                input.field(id='middle-name' type='text' placeholder='Отчество')
            .input-fields__row.input-fields__row--contacts
              .input-fields__group
                label.visually-hidden(for='phone')
                  | Контактный телефон
                input.field(id='phone' type='tel' placeholder='Контактный телефон')
              .input-fields__group
                label.visually-hidden(for='email')
                  | Контактный e-mail
                input.field(id='email' type='email' placeholder='Контактный e-mail')
            .input-fields__row
              .input-fields__group
                label.visually-hidden(for='additionally')
                  | Доп. информация для мастера
                textarea.field(id='additionally' placeholder='Доп. информация для мастера')
          fieldset.record__filters
            legend.record__filters-legend
              | Выберите модель бороды:
            .record__filters-items
              .radiobox
                input.radiobox__input(id='admiral' type='radio' name='model' checked)
                label.radiobox__label.radiobox__label--admiral(for='admiral')
                  | Адмирал
              .radiobox
                input.radiobox__input(id='woodcutter' type='radio' name='model')
                label.radiobox__label.radiobox__label--woodcutter(for='woodcutter')
                  | Лесоруб
              .radiobox
                input.radiobox__input(id='explorer' type='radio' name='model')
                label.radiobox__label.radiobox__label--explorer(for='explorer')
                  | Полярник
              .radiobox
                input.radiobox__input(id='boyar' type='radio' name='model')
                label.radiobox__label.radiobox__label--boyar(for='boyar')
                  | Боярин
              .radiobox
                input.radiobox__input(id='sage' type='radio' name='model')
                label.radiobox__label.radiobox__label--sage(for='sage')
                  | Мудрец
          fieldset.record__filters
            legend.record__filters-legend
              | Дополнительные услуги:
            .record__filters-items
              .checkbox
                input.checkbox__input(id='coloring-beard' type='checkbox' checked)
                label.checkbox__label(for='coloring-beard')
                  span.checkbox__label-text
                    | Подкрасить бороду
              .checkbox
                input.checkbox__input(id='screw-mustache' type='checkbox' checked)
                label.checkbox__label(for='screw-mustache')
                  span.checkbox__label-text
                    | Накрутить усы
              .checkbox
                input.checkbox__input(id='comb-beard' type='checkbox')
                label.checkbox__label(for='comb-beard')
                  span.checkbox__label-text
                    | Причесать бороду
              .checkbox
                input.checkbox__input(id='temples' type='checkbox')
                label.checkbox__label(for='temples')
                  span.checkbox__label-text
                    | Подровнять виски
              .checkbox
                input.checkbox__input(id='coloring-hair' type='checkbox')
                label.checkbox__label(for='coloring-hair')
                  span.checkbox__label-text
                    | Убрать седину
              .checkbox
                input.checkbox__input(id='polishing' type='checkbox')
                label.checkbox__label(for='polishing')
                  span.checkbox__label-text
                    | Отполировать лысину
          button.record__send.btn.btn--brown(type='submit')
            | Отправить заявку
      .popup
        b.popup__title
          | Неудача
        p.popup__description
          | Что-то пошло не так.
          br
          | Проверьте выделенные красным поля формы.
        button.popup__close.btn.btn--brown(type='button')
          | Ок
      .popup
        b.popup__title
          | Это успех!
        p.popup__description
          | Ваша заявка отправлена.
          br
          | Ожидайте, мы свяжемся с вами как только будет минутка.
        button.popup__close.btn.btn--brown(type='button')
          | Закрыть окно

    include ../layouts/page-footer.pug
    script(src='js/concatenated.js')
