footer.page-footer
  .page-footer__wrapper
    p.page-footer__contacts
      b
        | Барбершоп «Бородинский»
      br
      | г. Санкт-Петербург, ул. Большая Конюшенная 19/8
      br
      a.btn.btn--dark(href='tel:+78125556666')
        span.page-footer__contacts-hidden
          | Тел.:
        | +7 (812) 555-66-66
    p.page-footer__social
      span.social-links
        a.social-link.cocial-link--(href='https://vk.com/htmlacademy')
          | Мы в Вконтакте
        a.social-link.cocial-link--(href='https://facebook.com/htmlacademy')
          | Мы в Фейсбуке
        a.social-link.cocial-link--(href='https://instagram.com/htmlacademy')
          | Мы в Инстаграмме
    p.page-footer__copyright
      | Разработано:
      a.btn.btn--dark.page-footer__copyright-link(href="https://htmlacademy.ru/intensive/adaptive")
        | HTML Academy
