section.advantages
  .advantages__container.slider
    h2.visually-hidden
      | Наши преимущества
    ul.advantages__items.slider__items
      li.advantages__item.advantages__item--fast.slider__item
        h3.advantages__item-title
          | Быстро
        p.advantages__item-text
          | Мы делаем свою работу быстро! Два часа пролетят незаметно и вы —
          | счастливый обладатель стильной стрижки-минутки
      li.advantages__item.advantages__item--cool.slider__item
        h3.advantages__item-title
          | Круто
        p.advantages__item-text
          | Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола
          | или кино. Во всяком случае внешне.
      li.advantages__item.advantages__item--expensive.slider__item
        h3.advantages__item-title
          | Дорого
        p.advantages__item-text
          | Наши мастера — профессионалы своего дела и не могут стоить дёшево.
          | К тому же, разве цена не даёт определённый статус?
    .advantages__toggles.slider__toggles
      button.slider__toggle(type='button' disabled)
        span.visually-hidden
          | 1
      button.slider__toggle(type='button')
        span.visually-hidden
          | 2
      button.slider__toggle(type='button')
        span.visually-hidden
          | 3
