section.news
  .news__wrapper
    h2.news__title
      | Новости и акции
    ul.news__items
      li.news__item
        a.news__item-link(href='#')
          time.news__date(datetime='2015-09-29')
            b
              | 29
            |
            | сент
          p
            | Нам наконец завезли Ягермайстер! Теперь вы можете пропустить стаканчик во время стрижки.
      li.news__item
        a.news__item-link(href='#')
          time.news__date(datetime='2015-09-19')
            b
              | 19
            |
            | сент
          p
            | В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
      li.news__item
        a.news__item-link(href='#')
          time.news__date(datetime='2015-09-09')
            b
              | 9
            |
            | сент
          p
            | Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
    a.news__to-all.btn.btn--ghost(href='#')
      | Показать все
