section.price-list
  .price-list__container
    h2.price-list__title
      | Прейскурант
    .price-list__content
      table.price-list__items
        tr
          td.price-list__item-number
            | 1
          td.price-list__name
            h3.price-list__name-title
              | Классическая стрижка
            span.price-list__name-info
              | (с мытьем головы)
          td.price-list__info
            | с мытьем головы
          td.price-list__price
            | 1&thinsp;500 руб.
        tr
          td.price-list__item-number
            | 2
          td.price-list__name
            h3.price-list__name-title
              | Современный вариант
            span.price-list__name-info
              | (с мытьем головы)
          td.price-list__info
            | с мытьем головы
          td.price-list__price
            | 1&thinsp;500 руб.
        tr
          td.price-list__item-number
            | 3
          td.price-list__name
            h3.price-list__name-title
              | Индивидуальный подход
            span.price-list__name-info
              | (с мытьем головы)
          td.price-list__info
            | с мытьем головы
          td.price-list__price
            | 2&thinsp;000 руб.
        tr
          td.price-list__item-number
            | 4
          td.price-list__name
            h3.price-list__name-title
              | Бритьё бороды
            span.price-list__name-info
              | (без мытья головы)
          td.price-list__info
            | без мытья
          td.price-list__price
            | 500 руб.
        tr
          td.price-list__item-number
            | 5
          td.price-list__name
            h3.price-list__name-title
              | Бритьё головы
            span.price-list__name-info
              | (с мытьем головы)
          td.price-list__info
            | с мытьем головы
          td.price-list__price
            | 1&thinsp;000 руб.
      p.price-list__discount
        span
          | С 10:00 до 14:00
          br
          |
          | скидка 20%
