section.price
  .price__wrapper
    h2.price__title
      | Прейскурант
    .price__content
      table.price__items
        tr
          td.price__item-number
            | 1
          td
            | Классическая стрижка
          td
            | с мытьем головы
          td
            | 1 500 руб.
        tr
          td.price__item-number
            | 2
          td
            | Современный вариант
          td
            | с мытьем головы
          td
            | 1 500 руб.
        tr
          td.price__item-number
            | 3
          td
            | Индивидуальный подход
          td
            | с мытьем головы
          td
            | 2 000 руб.
        tr
          td.price__item-number
            | 4
          td
            | Бритьё бороды
          td
            | без мытья
          td
            | 500 руб.
        tr
          td
            | 5
          td
            | Бритьё головы
          td
            | с мытьем головы
          td
            | 1 000 руб.
      span.price__discount
        | С 10:00 до 14:00
        br
        |
        | скидка 20%
