section.price-list
  .price-list__container
    h2.price-list__title
      | Прейскурант
    .price-list__content
      table.price-list__items
        tr
          td.price-list__number
            | 1
          td.price-list__name
            h3.price-list__name-text
              | Классическая стрижка
          td.price-list__info
            span.price-list__bracket
              | (
            | с мытьем головы
            span.price-list__bracket
              | )
          td.price-list__price
            | 1&thinsp;500 руб.
        tr
          td.price-list__number
            | 2
          td.price-list__name
            h3.price-list__name-text
              | Современный вариант
          td.price-list__info
            span.price-list__bracket
              | (
            | с мытьем головы
            span.price-list__bracket
              | )
          td.price-list__price
            | 1&thinsp;500 руб.
        tr
          td.price-list__number
            | 3
          td.price-list__name
            h3.price-list__name-text
              | Индивидуальный подход
          td.price-list__info
            span.price-list__bracket
              | (
            | с мытьем головы
            span.price-list__bracket
              | )
          td.price-list__price
            | 2&thinsp;000 руб.
        tr
          td.price-list__number
            | 4
          td.price-list__name
            h3.price-list__name-text
              | Бритьё бороды
          td.price-list__info
            span.price-list__bracket
              | (
            | без мытья
            span.price-list__bracket
              | )
          td.price-list__price
            | 500 руб.
        tr
          td.price-list__number
            | 5
          td.price-list__name
            h3.price-list__name-text
              | Бритьё головы
          td.price-list__info
            span.price-list__bracket
              | (
            | с мытьем головы
            span.price-list__bracket
              | )
          td.price-list__price
            | 1&thinsp;000 руб.
      p.price-list__discount
        span
          | С 10:00 до 14:00
          br
          |
          | скидка 20%
