footer.page-footer
  .page-footer__wrapper
    .page-footer__contacts.contacts
      b
        | Барбершоп «Бородинский»
      address.contacts__address
        span.contacts__address-text
          | г. Санкт-Петербург, ул. Большая Конюшенная 19/8
        br
        a.contacts__number.btn.btn--dark(href='tel:+78125556666')
          span.contacts__number-text
            | Тел.:
            |
          | +7 (812) 555-66-66
    .page-footer__social.social
      ul.social__list
        li.social__item
          a.social__link.social__link--vk(href='https://vk.com/htmlacademy' target='_blank')
            | Мы в Вконтакте
        li.social__item
          a.social__link.social__link--fb(href='https://facebook.com/htmlacademy' target='_blank')
            | Мы в Фейсбуке
        li.social__item
          a.social__link.social__link--in(href='https://instagram.com/htmlacademy' target='_blank')
            | Мы в Инстаграмме
    .page-footer__copyright.copyright
      b.copyright__text
        | Разработано:
      a.copyright__link.btn.btn--dark(href='https://htmlacademy.ru/intensive/adaptive' target='_blank')
        | HTML Academy
