.advantages {
  padding: 15px 0;

  text-align: center;
  color: $brown--lightest;

  background-color: $gray--darkest;

  @media (min-width: $tablet-width) {
    text-align: left;

    background-color: $gray;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;

    text-align: center;
  }
}

.advantages__container {
  @include container;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.advantages__items {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
  }
}

.advantages__item {
  margin: 30px 0;
  padding: 0 44px;
  padding-top: 100px;

  background-image: url('../img/icon-advantages-1.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 95px 94px;

  &:nth-child(2) {
    background-image: url('../img/icon-advantages-2.svg');
    background-size: 95px 88px;
  }

  &:nth-child(3) {
    background-image: url('../img/icon-advantages-3.svg');
    background-size: 95px 91px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 7px 0;
    padding-left: 130px;

    background-position: center left;

    &:nth-child(n+2) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 38px;
    padding-top: 100px;

    background-position: center top;
  }
}

.advantages__item-title {
  font-size: $font-size--xx-large;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__item-text {
  font-size: $font-size--large;
  line-height: 27px;
}

.advantages__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
