.btn {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  padding: 15px 23px;

  font-weight: bold;
  font-size: $font-size--regular;
  line-height: 20px;
  font-family: $font-family;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $brown--dark;
  border: none;

  user-select: none;

  &[disabled] {
    background-color: #aeaeae;
  }

  &:not([disabled]) {
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.btn--brown {
  &:not([disabled]) {
    &:hover,
    &:focus {
      background-color: $brown--darkest;
    }

    &:active {
      color: rgba(white, 0.3);
    }
  }
}

.btn--ghost {
  padding-top: 14px;
  padding-bottom: 14px;

  color: black;

  background-color: $brown--lighten;
  border: 1px solid $brown--light;

  &:not([disabled]) {
    &:hover,
    &:focus {
      border-color: $brown;
    }

    &:active {
      color: rgba(black, 0.3);

      background-color: $brown;
    }
  }
}

.btn--dark {
  background-color: $gray--dark;
  border: 1px solid $gray--light;

  &:not([disabled]) {
    &:hover,
    &:focus {
      border-color: $gray--lighten;
    }

    &:active {
      color: rgba(white, 0.3);

      background-color: $gray--darken;
      border-color: $gray--darken;
    }
  }
}
