.examples {
  color: black;

  background-color: $brown--lighten;
}

.examples__container {
  @include container;

  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}


.examples__header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.examples__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

.examples__to-main {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.examples__items {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.examples .example {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}
