.login {
  position: relative;

  color: black;

  background-color: $brown--lighten;
  box-shadow: 0 30px 50px rgba(black, 0.75);

  @media (min-width: $tablet-width) {
    width: 460px;
    margin: 0 auto;
  }
}

.login__container {
  @include container;

  padding-top: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-right: 0;
    padding-bottom: 35px;
    padding-left: 0;
  }
}

.login__title {
  margin: 15px 0;

  font-size: $font-size--xx-large;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.login__description {
  line-height: 27px;
  text-align: center;
}

.login__fields {
  margin-bottom: 25px;
}

.login__field-group {
  margin-bottom: 5px;
}

.login .field {
  padding-right: 65px;

  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 15px;

  &--login {
    background-image: url('../img/icon-user.png');
  }

  &--password {
    background-image: url('../img/icon-lock.png');
    background-size: 15px 17px;
  }
}

.login__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login__checkbox {
  width: 160px;

  .checkbox__label {
    &::before {
      width: 33px;
      height: 33px;
    }
  }

  .checkbox__label-text {
    padding-top: 7px;
  }
}

.login__checkbox,
.login__link {
  margin-bottom: 10px;
}

.login__link {
  flex-shrink: 0;
  width: 110px;

  text-align: right;
  color: inherit;
}

.login__submit,
.login__close {
  min-width: 130px;
  margin-bottom: 10px;
}

.login__submit {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.login__optional-text {
  @media (max-width: $tablet-width - 1) {
    display: none;
  }
}

.login__close {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 60px;
    right: -100px;

    width: 25px;
    min-width: auto;
    height: 25px;
    margin: 0;
    padding: 0;

    background-color: transparent;
    background-image: url('../img/icon-cross--white.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &:not([disabled]) {
      &:hover,
      &:focus {
        opacity: 0.5;
      }

      &:active {
        background-color: transparent;
      }
    }
  }
}

.login__close-text {
  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}
