.news {
  color: black;

  background-color: $brown--lighten;
  border-bottom: 1px solid $brown--light;
}

.news__container {
  @include container;

  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.news__title {
  font-size: $font-size--xx-large;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size--xxx-large;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.news__items {
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 3;
  }
}

.news__item {
  padding: 20px 0;

  &:nth-child(n+3) {
    display: none;
  }

  &:first-child {
    border-bottom: 1px solid $brown--light;
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 320px;
    padding-right: 40px;

    &:first-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(n+3) {
      display: block;
    }
  }
}

.news__link {
  display: flex;
  align-items: flex-start;

  color: inherit;
  text-decoration: none;
}

.news__text {
  margin: 0;

  font-size: $font-size--regular;
  line-height: 27px;
}

.news__date {
  margin-right: 20px;
  padding: 5px 10px;

  font-size: $font-size--small;
  text-align: center;
  color: white;

  background-color: black;
}

.news__link:hover,
.news__link:focus {
  .news__date {
    background-color: $brown--dark;
  }

  .news__text {
    color: $brown--dark;
    text-decoration: underline;
  }
}

.news__link:active {
  .news__date {
    color: rgba(white, 0.3);

    background-color: $brown--darkest;
  }

  .news__text {
    color: $brown--darkest;
  }
}

.news__day {
  font-size: $font-size--xx-large;
}

.news__to-all {
  @media (min-width: $tablet-width) {
    order: 2;
    align-self: center;
    margin-left: auto;
  }
}
