.popup {
  @include container;

  padding: 45px 20px;

  text-align: center;

  background-color: white;
  box-shadow: 0 30px 50px rgba(black, 0.75);
}

.popup__title {
  font-size: 40px;
  text-transform: uppercase;
}

.popup__description {
  margin-bottom: 30px;

  line-height: 27px;
}

.popup__close {
  width: 180px;
  margin: 0 auto;
}
