.price-list {
  font-size: $font-size--large;
  color: white;

  background-color: $gray;
}

.price-list__container {
  @include container;

  padding-top: 10px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.price-list__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

.price-list__content {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.price-list__items {
  width: 100%;

  border-collapse: collapse;
  line-height: 27px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.price-list__items td {
  padding: 0;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    border: 1px solid #4a4a4a;
    padding: 15px 20px;
  }
}

.price-list__item-number {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
    text-align: center;
  }
}

.price-list__name-title {
  margin: 0;

  font-size: 20px;
}

.price-list__name-info {
  @media (min-width: $tablet-width) {
    // display: none;
  }
}

.price-list__info {
  display: none;
}

.price-list__price {
  width: 75px;

  vertical-align: top;
  text-align: right;

  @media (min-width: $tablet-width) {
    text-align: left;
    vertical-align: inherit;
  }
}

.price-list__discount {
  display: block;
  margin: 10px 0;
  padding: 20px 45px 20px 110px;

  background-image: url('../img/icon-clock.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 58px 57px;
  border: 1px solid #4a4a4a;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    min-height: 115px;
    padding: 30px 25px;
    padding-left: 175px;

    font-weight: bold;
    font-size: $font-size--xx-large;
    text-transform: uppercase;

    background-position: 30px center;
    background-size: 72px 71px;

    span {
      vertical-align: middle;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    width: 270px;
    min-height: 276px;
    margin: 0;
    padding: 0 25px;
    padding-top: 190px;
    padding-bottom: 25px;

    font-weight: normal;
    font-size: $font-size--large;
    text-align: center;
    text-transform: none;

    background-position: center 35px;
    background-size: 142px 139px;

    br {
      display: inline;
    }
  }
}
