.price-list {
  font-size: $font-size--large;
  color: white;

  background-color: $gray;
}

.price-list__container {
  @include container;

  box-sizing: border-box;
  padding: 10px 20px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .price-list__container {
    padding-right: 0;
    padding-left: 0;
  }
}

.price-list__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .price-list__title {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .price-list__content {
    display: flex;
    justify-content: space-between;
  }
}

.price-list__items {
  width: 100%;

  border-collapse: collapse;
  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .price-list__items {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .price-list__items {
    width: 630px;
  }
}

.price-list__items td {
  padding: 0;
  padding-bottom: 15px;
}

.price-list__item-number {
  display: none;
}

.price-list__name-title {
  margin: 0;

  font-size: 20px;
}

.price-list__info {
  display: none;
}

.price-list__price {
  width: 75px;

  vertical-align: top;
  text-align: right;
}

.price-list__discount {
  display: block;
  margin: 10px 0;
  padding: 20px 45px 20px 110px;

  background-image: url('../img/icon-clock.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 58px 57px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: $tablet-width) {
  .price-list__discount {
    padding: 30px 10px;
    padding-left: 175px;

    font-weight: bold;
    font-size: $font-size--xx-large;
    text-transform: uppercase;

    background-position: 30px center;
    background-size: 72px 71px;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .price-list__discount {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    width: 270px;
    min-height: 276px;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;

    font-weight: normal;
    font-size: $font-size--large;
    text-align: center;
    text-transform: none;

    background-position: center 35px;
    background-size: 142px 139px;

    br {
      display: inline;
    }
  }
}
