.radiobox {
  display: inline-flex;
  flex-direction: column;
  min-width: 64px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center 80px;
}

.radiobox__input {
  @include visually-hidden;
}

.radiobox__label {
  position: relative;

  line-height: 22px;

  background-repeat: no-repeat;
  background-position: center 80px;
  cursor: pointer;

  user-select: none;

  &::before,
  &::after {
    content: '';

    box-sizing: border-box;

    background-color: white;
    border: 1px solid $brown--light;
    border-radius: 50%;
  }

  &::before {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  &::after {
    position: absolute;
    top: 17px;
    left: 50%;

    display: none;
    width: 17px;
    height: 17px;
    margin-left: -8.5px;
  }

  &:hover {
    &::before,
    &::after {
      border-color: $brown;
    }
  }

  &:active {
    &::before {
      background-color: $brown;
    }

    &::after {
      display: block;
    }
  }
}

.radiobox__input:focus + .radiobox__label {
  &::before,
  &::after {
    border-color: $brown;
  }
}

.radiobox__input:checked + .radiobox__label {
  &::after {
    display: block;
  }

  &:active {
    &::after {
      display: none;
    }
  }
}
