.social__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    margin-bottom: 12px;
  }
}

.social__list {
  @include list-reset;

  justify-content: center;
}

.social__item {
  flex-grow: 1;

  border: 1px solid $gray--light;
  border-right: none;

  &:last-child {
    border-right: 1px solid $gray--light;
  }

  &:hover,
  &:focus-within {
    border-color: $gray--lighten;
  }

  &:active {
    border-color: $gray--darken;
  }

  @media (min-width: $tablet-width) {
    //
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    margin: 3px;

    border-right: 1px solid $gray--light;
  }
}

.social__link {
  display: block;
  box-sizing: border-box;
  min-width: 105px;
  height: 105px;

  outline: none;

  &::after {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
  }

  &:active {
    background-color: $gray--darken;
    border-color: $gray--darken;

    &::after {
      opacity: 0.3;
    }
  }

  &--vk {
    &::after {
      background-image: url('../img/icon-vk.png');
    }
  }

  &--fb {
    &::after {
      background-image: url('../img/icon-fb.png');
    }
  }

  &--in {
    &::after {
      background-image: url('../img/icon-in.png');
    }
  }

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    min-width: auto;
    height: 50px;

    &--vk {
      &::after {
        background-size: 15px 17px;
      }
    }

    &--fb {
      &::after {
        background-size: 10px 21px;
      }
    }

    &--in {
      &::after {
        background-size: 19px;
      }
    }
  }
}
