@font-face {
  font-weight: normal;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  src: url('../fonts/ptsansnarrow.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  font-style: normal;
  src: url('../fonts/ptsansnarrowbold.ttf') format('truetype');
}
