.record__main {
  color: black;

  background-color: $brown--lighten;
}

.record__wrapper {
  @include container;

  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

@media #{$tablet-width} {
  .record__wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

@media #{$tablet-width} {
  .record__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.record__title {
  font-size: $font-size--xx-large;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media #{$tablet-width} {
  .record__title {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

.record__write {
  display: none;
}

@media #{$tablet-width} {
  .record__write {
    display: block;
  }
}

@media #{$desktop-width} {
  .record__form-name {
    justify-content: space-between;

    input {
      width: 295px;
    }
  }

  .record__form-contacts {
    display: flex;
    justify-content: space-between;

    input {
      width: 460px;
    }
  }
}

.record__filters {
  border: none;
}

.record__filters-legend {
  font-weight: normal;
  font-size: $font-size--large;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

@media #{$tablet-width} {
  .record__form-title {
    font-size: $font-size--xx-large;
  }
}

.record__form-model {
  margin: 30px 0;

  label {
    font-size: $font-size--regular;
    text-transform: lowercase;
  }
}

@media #{$tablet-width} {
  .record__form-model {
    label {
      font-size: $font-size--x-large;
    }
  }
}

.record__form-model-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.radiobox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-width: 64px;
  margin: 0 10px;
  margin-top: 30px;
  padding-bottom: 65px;

  background-repeat: no-repeat;
  background-position: center 35px;

  &:nth-child(1) {
    background-image: url('../img/icon-beard-1.svg');
    background-size: 52px 49px;
  }

  &:nth-child(2) {
    padding-bottom: 80px;

    background-image: url('../img/icon-beard-2.svg');
    background-size: 58px 68px;
  }

  &:nth-child(3) {
    padding-bottom: 90px;

    background-image: url('../img/icon-beard-3.svg');
    background-size: 64px 78px;
  }

  &:nth-child(4) {
    padding-bottom: 110px;

    background-image: url('../img/icon-beard-4.svg');
    background-size: 58px 98px;
  }

  &:nth-child(5) {
    padding-bottom: 120px;

    background-image: url('../img/icon-beard-5.svg');
    background-size: 64px 105px;
  }
}

@media #{$tablet-width} {
  .record__form-model-wrapper {
    justify-content: space-around;

    div {
      padding-bottom: 135px;

      background-position: center 65px;
    }
  }
}

.record__form-extra {
  margin: 30px 0;

  label {
    display: block;

    font-size: $font-size--regular;
  }
}

@media #{$tablet-width} {
  .record__form-extra-wrapper {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 320px;
    }

    label {
      font-size: $font-size--x-large;
    }
  }
}

.record__send {
  width: 100%;
  margin: 20px 0;
}

@media #{$tablet-width} {
  .record__send {
    font-size: $font-size--x-large;
  }
}
