.record__main {
  color: black;

  background-color: $brown--lighten;
}

.record__container {
  @include container;

  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .record__container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .record__main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.record__title {
  font-size: $font-size--xx-large;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .record__title {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

// .record__write {
//   display: none;
// }
//
// @media (min-width: $tablet-width) {
//   .record__write {
//     display: block;
//   }
// }

@media (min-width: $desktop-width) {
  .input-fields__row {
    &--name {
      justify-content: space-between;

      .field {
        width: 295px;
      }
    }

    &--contacts {
      display: flex;
      justify-content: space-between;

      .field {
        width: 460px;
      }
    }
  }
}

.record__input-fields {
  margin-bottom: 35px;
}

.record__form .input-fields__group {
  margin-bottom: 5px;
}

.record__form .field {
  @media (min-width: $tablet-width) {
    margin: 15px 0;
  }
}

.record__filters {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  border: none;
}

.record__filters-legend {
  margin: 0 auto;
  margin-bottom: 40px;

  font-weight: normal;
  font-size: $font-size--large;
  line-height: 27px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .record__filters-legend {
    font-size: $font-size--xx-large;
  }
}

.record__filters:first-of-type {
  .radiobox__label {
    text-transform: lowercase;
  }
}

@media (min-width: $tablet-width) {
  .record__filters:first-of-type {
    .radiobox__label {
      font-size: $font-size--x-large;
    }
  }
}

.record__filters:first-of-type .record__filters-items {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .record__filters:first-of-type .record__filters-items {
    justify-content: space-around;
  }
}

.record__form .radiobox {
  margin: 0 13px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .record__form .radiobox {
    padding-bottom: 135px;

    background-position: center 65px;
  }

  .record__filters:nth-of-type(2) .record__filters-items {
    display: flex;
    flex-wrap: wrap;
  }
}

.record__form .checkbox {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .record__form {
    .checkbox {
      width: 320px;
    }

    .checkbox__label {
      font-size: $font-size--x-large;
    }
  }
}

.record__send {
  width: 100%;
  margin: 20px 0;
}

@media (min-width: $tablet-width) {
  .record__send {
    font-size: $font-size--x-large;
  }
}
