.record__main {
  color: black;

  background-color: $brown--lighten;
}

.record__container {
  @include container;

  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.record__header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}

.record__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 80px;

    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

.record__header-link {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.record__input-fields {
  margin-bottom: 35px;
}

.record__form .input-fields__group {
  margin-bottom: 5px;
}

.record__form .field {
  @media (min-width: $tablet-width) {
    margin: 15px 0;
  }
}

.record__filters {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  border: none;
}

.record__filters-legend {
  margin: 0 auto;
  margin-bottom: 40px;

  font-weight: normal;
  font-size: $font-size--large;
  line-height: 27px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size--xx-large;
  }
}

.record__filters--models {
  .record__filters-items {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      justify-content: space-around;
    }
  }

  .radiobox {
    margin: 0 13px;
    margin-bottom: 30px;
  }

  .radiobox__label {
    padding: 0 5px;
    padding-bottom: 65px;

    text-transform: lowercase;

    @media (min-width: $tablet-width) {
      font-size: $font-size--x-large;
    }

    &--admiral {
      background-image: url('../img/icon-beard-1.svg');
      background-size: 52px 49px;
    }

    &--woodcutter {
      padding-bottom: 80px;

      background-image: url('../img/icon-beard-2.svg');
      background-size: 58px 68px;
    }

    &--explorer {
      padding-bottom: 90px;

      background-image: url('../img/icon-beard-3.svg');
      background-size: 64px 78px;
    }

    &--boyar {
      padding-bottom: 110px;

      background-image: url('../img/icon-beard-4.svg');
      background-size: 58px 98px;
    }

    &--sage {
      padding-bottom: 120px;

      background-image: url('../img/icon-beard-5.svg');
      background-size: 64px 105px;
    }
  }
}

.record__filters-items {
  //
}

.record__filters--services {
  .record__filters-items {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .checkbox {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 320px;
      margin-bottom: 45px;
      padding-right: 40px;
    }

    .checkbox__label {
      @media (min-width: $tablet-width) {
        // font-size: $font-size--x-large;
      }
    }
  }
}

.record__send {
  width: 100%;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 25px;

    font-size: $font-size--x-large;
  }
}
