$brown--lightest: #f7f4f1;
$brown--lighten: #f8f5f2;
$brown--light: #e5ddd5;
$brown: #d5c9bd;
$brown--dark: #826550;
$brown--darken: #755a46;
$brown--darkest: #6a4d38;
//
$gray--lighten: #545454;
$gray--light: #3f3f3f;
$gray: #353535;
$gray--dark: #292929;
$gray--darken: #252525;
$gray--darkest: #242424;
//
$font-size--small: 16px;
$font-size--regular: 18px;
$font-size--large: 20px;
$font-size--x-large: 24px;
$font-size--xx-large: 30px;
$font-size--xxx-large: 40px;
//
$font-family: 'PT Sans Narrow', serif;
// $font-family: 'PT Sans Narrow', arial, sans-serif;
//
$mobile-width-only: '(max-width: 767px)';
$tablet-width: '(min-width: 768px)';
$desktop-width: '(min-width: 1200px)';
