.page-footer {
  font-size: $font-size--regular;
  text-align: center;
  color: white;

  background-color: $gray--dark;
}

.page-footer__container {
  @include container;

  padding: 0;
  padding-top: 35px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;

    & > * {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;

    justify-content: space-between;

    & > * {
      margin-bottom: 0;
    }
  }
}

.page-footer__contacts {
  @media (min-width: $tablet-width) {
    order: 1;
    padding: 0;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.page-footer__social {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 100%;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.page-footer__copyright {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: auto;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    box-sizing: border-box;
    width: 320px;
    margin-left: 0;
    padding-left: 160px;
  }
}
