.page-footer {
  font-size: $font-size--regular;
  text-align: center;
  color: white;

  background-color: $gray--dark;
}

.page-footer__container {
  @include container;

  padding-top: 35px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    justify-content: space-between;
  }
}

.contacts {
  padding: 0 20px;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    order: 1;
    padding: 0;

    text-align: left;

    b {
      display: inline-block;
      margin: 10px 0;

      text-transform: uppercase;
    }
  }
}

.contacts__address {
  font-style: normal;
}

.contacts__address-text {
  display: block;
  margin: 15px 0;

  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts-address {
    margin: 0;
  }
}

.contacts__number {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts-number {
    display: inline;
    padding: 0;

    font-weight: normal;

    border: none;
  }
}

.contacts__number-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__contacts-hidden {
    display: inline;

    text-transform: none;
  }
}

.page-footer__social {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    order: 3;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__social {
    width: auto;
  }
}

.page-footer__social-appeal {
  display: none;
}

@media (min-width: $desktop-width) {
  .page-footer__social-appeal {
    display: block;
    margin-bottom: 10px;
  }
}

.page-footer__copyright {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    order: 2;
    margin-left: auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__copyright {
    order: 3;
    margin-left: 0;
  }
}
