.page-header {
  display: flex;
  flex-direction: column;

  color: white;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: column-reverse;
  }
}

.page-header__container {
  @include container;
}

.page-header__logo {
  display: block;
  padding-top: 29px;
  padding-bottom: 26px;

  background-color: $gray--darkest;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 397px;
    overflow: hidden;

    background-color: $gray--dark;
    background-image: url('../img/hero-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center -70px;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;

    background-image: url('../img/hero-desktop.jpg');
    background-position: center;
  }
}

.page-header__logo-img {
  display: block;
  margin: 0 auto;
}
