.advantages {
  padding: 10px 0;

  text-align: center;
  color: $brown--lightest;

  background-color: $gray--darkest;
}

.advantages__items {
  padding: 0;

  list-style: none;
}

.advantages__item {
  p {
    font-size: $font-size--large;
  }
}

.advantages__item-title {
  font-size: $font-size--xx-large;
  text-transform: uppercase;
}
