.btn {
  display: block;
  padding: 10px 15px;

  font-weight: bold;
  font-size: $font-size--regular;
  font-family: $font-family;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $brown--dark;
  border: none;
  &--ghost {
    color: black;

    background-color: $brown--lighten;
    border: 1px solid $brown--light;
  }
  &--dark {
    background-color: $gray--dark;
    border: 1px solid $gray--light;
  }
}
