.page-header {
  display: flex;
  flex-direction: column;

  color: white;

  background-color: $gray--dark;
}

@media #{$tablet-width} {
  .page-header {
    flex-direction: column-reverse;
  }
}

.page-header__logo {
  a {
    display: block;
    padding-top: 29px;
    padding-bottom: 26px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

@media #{$tablet-width} {
  .page-header__logo {
    height: 397px;
    overflow: hidden;
  }
}

@media #{$desktop-width} {
  .page-header__logo {
    height: 648px;
  }
}
