.page-header {
  color: white;

  background-color: $gray--darkest;
}

.page-header__logo {
  a {
    display: block;
    padding-top: 29px;
    padding-bottom: 26px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.main-nav {
  font-size: $font-size--regular;
}

.main-nav__toggle {
  display: none;
}

.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__items {
  text-transform: uppercase;
}

.main-nav__item,
.main-nav__user-item {
  a {
    display: block;
    padding: 10px;

    color: white;
    text-decoration: none;

    background-color: $brown--dark;
  }
}

.main-nav__link {
  font-weight: bold;
}
