.main-nav {
  font-size: $font-size--regular;
}

@media #{$tablet-width} {
  .main-nav {
    background-color: black;
  }
}

.main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  @include container;
}

@media #{$tablet-width} {
  .main-nav__wrapper {
    display: flex;
  }
}

.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media #{$tablet-width} {
  .main-nav__items,
  .main-nav__user-items {
    display: flex;
  }
}

.main-nav__items {
  text-transform: uppercase;
}

@media #{$tablet-width} {
  .main-nav__items {
    flex-grow: 1;
  }
}

.main-nav__link,
.main-nav__user-login {
  display: block;
  padding: 15px 20px;

  color: white;
  text-decoration: none;
}

@media #{$tablet-width} {
  .main-nav__link,
  .main-nav__user-login {
    padding: 25px 15px;

    color: white;

    background-color: black;
  }
}

@media #{$desktop-width} {
  .main-nav__link,
  .main-nav__user-login {
    padding: 25px 30px;
  }
}

.main-nav__link {
  font-weight: bold;

  background-color: $brown--dark;
  box-shadow: inset 0 -1px 0 #71543f, inset 0 1px 0 #886e5b;
}

@media #{$tablet-width} {
  .main-nav__link {
    box-shadow: none;
  }
}

.main-nav__user-login {
  padding-left: 50px;

  background-color: $brown--darkest;
  background-image: url('../img/icon-login.png');
  background-repeat: no-repeat;
  background-position: 20px center;
}

@media #{$tablet-width} {
  .main-nav__user-login {
    font-size: 0;
    width: 65px;
    height: 100%;
    box-sizing: border-box;
  }
}

@media #{$desktop-width} {
  .main-nav__user-login {
    text-transform: uppercase;
    width: auto;
    font-weight: bold;
    background-position: left center;
    font-size: $font-size--regular;
  }
}
