.news {
  padding-top: 10px;
  padding-bottom: 30px;

  background-color: $brown--lighten;
  border-bottom: 1px solid $brown--light;
}

.news__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

.news__items {
  padding: 0;

  list-style: none;
}

.news__item-link {
  color: black;
  text-decoration: none;
  p {
    font-size: $font-size--regular;;
  }
}

.news__date {
  font-size: $font-size--small;
  b {
    font-size: $font-size--xx-large;
  }
}
