.price {
  font-size: $font-size--large;
  color: white;

  background-color: $gray;
}

.price__wrapper {
  @include container;

  box-sizing: border-box;
  padding: 10px 20px;
  padding-bottom: 40px;
}

@media #{$tablet-width} {
  .price__wrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

.price__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

@media #{$tablet-width} {
  .price__title {
    font-size: $font-size--xxx-large;
    text-align: left;
  }
}

@media #{$desktop-width} {
  .price__content {
    display: flex;
    justify-content: space-between;
  }
}

@media #{$tablet-width} {
  .price__items {
    width: 100%;
  }
}

@media #{$desktop-width} {
  .price__items {
    width: 630px;
  }
}

.price__discount {
  display: block;
  margin: 10px 0;
  padding: 20px 45px 20px 110px;

  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media #{$tablet-width} {
  .price__discount {
    padding: 30px 10px;
    padding-left: 175px;

    font-weight: bold;
    font-size: $font-size--xx-large;
    text-transform: uppercase;
    br {
      display: none;
    }
  }
}

@media #{$desktop-width} {
  .price__discount {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 270px;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;

    font-weight: normal;
    font-size: $font-size--large;
    text-align: center;
    text-transform: none;
    br {
      display: inline;
    }
  }
}
