.price {
  padding: 10px 0;

  font-size: $font-size--large;
  color: white;

  background-color: $gray;
}

.price__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}
