.record {
  padding-top: 10px;
  padding-bottom: 30px;

  background-color: $brown--lighten;
}

.record__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

.record__write {
  display: none;
}

.record__form-data input,
.record__form-data textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
  padding: 5px;

  font-size: $font-size--regular;
  font-family: $font-family;
}

.record__form-title {
  font-weight: normal;
  font-size: $font-size--large;
  text-align: center;
  text-transform: uppercase;
}

.record__form-model label {
  font-size: $font-size--regular;
}

.record__form-extra label {
  display: block;

  font-size: $font-size--regular;
}
