.reviews {
  padding-top: 10px;
  padding-bottom: 30px;

  background-color: $brown--lighten;
}

.reviews__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

.reviews__write {
  display: none;
}

.reviews__item {
  margin: 0;
  p {
    font-size: $font-size--regular;
  }
}

.reviews__author-name {
  font-weight: bold;
  font-size: $font-size--x-large;
  font-style: normal;
}
