.social-links {
  display: flex;
}

.social-link {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 105px;
  height: 105px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $gray--light;
  &--vk {
    background-image: url('../img/icon-vk.png');
  }
  &--fb {
    background-image: url('../img/icon-fb.png');
  }
  &--in {
    background-image: url('../img/icon-in.png');
  }
}

@media #{$tablet-width} {
  .social-link {
    width: auto;
  }
}

@media #{$desktop-width} {
  .social-link {
    width: 50px;
    height: 50px;
    margin: 5px;
    &--vk {
      background-image: url('../img/icon-vk.png');
      background-size: 15px 17px;
    }
    &--fb {
      background-image: url('../img/icon-fb.png');
      background-size: 10px 21px;
    }
    &--in {
      background-image: url('../img/icon-in.png');
      background-size: 19px;
    }
  }
}
