.stats {
  padding-top: 25px;
}

.stats__slogan {
  display: block;

  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

.stats__intro {
  font-size: $font-size--large;
  text-align: center;
}

.stats__legend {
  display: block;

  font-size: $font-size--large;
  text-align: center;
  &--top {
    display: none;
  }
}

.stats__items {
  width: 100%;

  border-collapse: collapse;
  tr {
    color: white;

    background-color: $gray--light;
  }
  td {
    padding: 10px;
  }
}

.stats__value {
  font-weight: bold;
  font-size: $font-size--xxx-large;
}

.stats__field {
  font-size: $font-size--large;
  color: $brown--lightest;
}
