.work {
  padding-top: 10px;
  padding-bottom: 30px;

  background-color: $brown--lighten;
}

.work__title {
  font-size: $font-size--xx-large;
  text-align: center;
  text-transform: uppercase;
}

.work__to-main {
  display: none;
}

.work__item-best {
  font-weight: bold;
  font-size: $font-size--large;
  color: white;
  text-transform: uppercase;

  background-color: $brown--dark;
}

.work__item-name {
  font-size: $font-size--x-large;
}

.work__item-review {
  font-size: $font-size--regular;
}

.work__item-done {
  margin-right: 10px;

  font-size: $font-size--small;
  text-transform: uppercase;
}
